* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type: none;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

.hero {
    height: 100vh;
    background-color: var(--bg-color);
}

.home-img img {
    left: 110%;
    bottom: 360px;
    box-shadow: 0 0 50px var(--main-color);
}

nav ul li a {
    color: var(--text-color);
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--main-color);
    transition: .4s;
}

.content {
    top: 35%;
    left: 7%;
}

.newslatter form input:last-child {
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

.about {
    background-color: var(--second-bg-color);
}

.about img {
    height: auto;
    width: 430px;
    border-radius: 20%;
    transition: .5s ease;
}

.about img:hover {
    box-shadow: 0 0 80px var(--main-color);
}

.Service {
    background: var(--bg-color);
}
 
.crax {
    background: #191919;
}

.contact-me {
    height: 330px;
    background: var(--second-bg-color);
}

footer {
    height: 400px;
    background: var(--bg-color);
}